@import "tailwindcss";

@theme {
    --font-open: "Open Sans", "sans-serif"; 
    --font-gemunu: "Gemunu Libre", "sans-serif"; 

    --color-gega-red: #BC1A45;
    --color-gega-melon: #FFD369;
    --color-gega-grey: #DDDDDD;
    --color-gega-white: #F7F7F7;
    --color-regal-blue: '#243c5a'; 
 
  }

  @utility container {
    margin-inline: auto;
  }

  @layer base {
    h1, h2, h3, h4, h5, h6 {
        @apply font-gemunu uppercase;
    }
    a {
        @apply font-gemunu;
    }
  }